<!DOCTYPE html>
<html>
<head>
  <title>Pixlgram</title>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Pacifico">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//widget.cloudinary.com/global/all.js"
          type="text/javascript">
  </script>
  <script type="text/javascript">

          CLOUDINARY_OPTIONS = {
            cloud_name: "<%=ENV['CLOUD_NAME']%>",
            upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
            console.log(cloud_name);
            console.log(upload_preset);
  //         CLOUDINARY_OPTIONS = {
  //           cloud_name: "dkfx9lmbh",
  //           upload_preset: "bo0ob5js"
  };
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
